<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Register</h1>
    <form action="/register" method="GET">
        <label for="">Enter email</label>
        <input type="text" name="email">
        <label for="">Enter password</label>
        <input type="text" name="password">
        <label for="">Confirm password</label>
        <input type="text" name="cpassword">
        <button type="submit">Submit</button>
    </form>
    <h1>Log-IN</h1>
    <form action="/login" method="post">
        <input type="text" name="Lemail">
        <input type="text" name="Lpassword">
        <button type="submit">LogIN</button>
    </form>
</body>
</html>